@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
  
  .nav-links {
    display: block;
  }

  .nav-links a {
    margin-left: 50px;
  }

  .about-employee {
    flex-direction: row;
  }
  
  .about-employee:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }
  
  .about-employee-img {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    margin-right: 50px;
    margin-bottom: 0;
    background-image: url('https://picsum.photos/200/300');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  
  .about-employee:nth-of-type(even) .about-employee-img {
    margin-right: 0;
    margin-left: 50px;
  }
}