* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #F1F1F1;
}

section {
  padding: 80px 0;
}

.container {
  width: 94%;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}

.h1-dark {
  color: #152D41;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #4E4E4E;
  font-size: 18px;
  color: #FFFFFF;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav-company-name {
  font-weight: bold;
  font-size: 18px;
}

nav .container a {
  color: #F1F1F1;
  text-decoration: none;
}

.nav-links {
  display: none;
}

.landing-page {
  height: calc(100vh - 50px);
  padding: 0;
  background-image: url('https://picsum.photos/1920/1080');
  background-size: cover;
  background-position: center;
  color: white;
}

.landing-page .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.landing-page-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .3);
}

.landing-page-btn {
  padding: 8px 45px;
  border: 3px solid white;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: none;
}

.landing-page-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 33%;
  width: 61%;
}

.about h1 {
  margin-bottom: 80px;
}

.about-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.about-employee:last-of-type {
  margin-bottom: 0;
}

.about-employee-img {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  background-image: url('https://picsum.photos/200/300');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.offer {
  background-color: #405D78;
}

.offer h1 {
  color: white;
  margin-bottom: 80px;
}

.offer-box-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.offer-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 3.5%;
  background-color: #F1F1F1;
}

@media screen and (max-width: 768px) {
  .offer-box:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .offer-box {
    width: 48%;
    padding-bottom: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
  }

  .offer-box:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .offer-box {
    width: 31%;
    margin-right: 3.5%;
    padding-bottom: 31%;
  }

  .offer-box:nth-of-type(2n) {
    margin-right: 3.5%;
  }

  .offer-box:nth-of-type(3n) {
    margin-right: 0;
  }
}

.offer-box-content {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}